<header class="">
  <div class="text-right py-2 px-4 bg-gray-100 shadow-inner">
    <a
      href="https://www.jamiemchale.com"
      class="text-sm text-blue-600 underline font-bold"
      >&rarr; jamiemchale.com</a
    >
  </div>
  <h1 class="max-w-5xl mx-auto font-serif font-bold text-lg pt-16 md:pt-24 pb-16 text-center">
    <a
      href="/"
      class="cursor-pointer underline decoration-amber-200 hover:decoration-amber-400 transition-colors decoration-4 underline-offset"
    >
      ⚡️ Jamie's Micro blog
    </a>
  </h1>
</header>
