{{ define "main" }}
<div class="home h-feed px-4 md:px-0">

  <ul class="post-list">
    {{ $paginator := .Paginate (where .Site.Pages.ByDate.Reverse "Type" "post") (index .Site.Params "archive-paginate" | default 25) }}
    {{ range $paginator.Pages  }}
      <li class="h-entry pb-12 mx-auto prose border-b border-grey-400 mb-12">
        {{ if .Title }}
            <h1 class="text-lg font-serif no-underline"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
        {{ end }}

        <div class="e-content prose prose-a:text-blue-600 mx-auto pb-8">
             {{ .Content }}
        </div>

        <a href="{{ .Permalink }}" class="u-url text-gray-400 text-sm no-underline">&rarr; <span class="post-meta"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time></span></a>

      </li>
    {{ end }}
  </ul>

  <footer
        class="flex flex-wrap max-w-5xl mx-auto pt-12 pb-12 gap-2 justify-center px-2 md:px-0"
        itemScope
        itemType="http://schema.org/Person"
      >
        <link itemProp="url" href="https://www.jamiemchale.com" />
        <meta itemProp="honorificPrefix" content="Mr" />
        <meta itemProp="gender" content="male" />
        <a href="http://twitter.com/jamiemchale" rel="me" class="cursor-pointer underline decoration-blue-200 hover:decoration-blue-400 transition-colors decoration-4 underline-offset-2">
          Twitter
        </a>
        &emsp;&middot;&emsp;
        <a href="http://youtube.com/jamiemchale" rel="me" class="cursor-pointer underline decoration-blue-200 hover:decoration-blue-400 transition-colors decoration-4 underline-offset-2">
          YouTube
        </a>
        &emsp;&middot;&emsp;
        <a href="http://instagram.com/jamiemchale" rel="me" class="cursor-pointer underline decoration-blue-200 hover:decoration-blue-400 transition-colors decoration-4 underline-offset-2">
          Instagram
        </a>
        &emsp;&middot;&emsp;
        <a rel="me" href="https://mastodon.social/@jamiemchale"class="cursor-pointer underline decoration-blue-200 hover:decoration-blue-400 transition-colors decoration-4 underline-offset-2">
          Mastodon
        </a>
        &emsp;&middot;&emsp;
        <a href="{{ "feed.xml" | absURL }}" class="cursor-pointer underline decoration-blue-200 hover:decoration-blue-400 transition-colors decoration-4 underline-offset-2">Micro Blog RSS</a>
      </footer>

</div>
{{ end }}
